
<h2>Admin Dashboard</h2>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Total Products</th>
      <th scope="col">Total Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product_quantity %></td>
      <td><%= @category_quantity %></td>
    </tr>
  